node_modules/
database/data1.tsv
database/data2.tsv
database/data3.txt
database/data4.txt
database/dataanswers1.csv
database/dataanswers2.csv
database/dataquestions1.csv
database/dataquestions2.csv
artifacts/
.DS_Store
.idea
.vagrant
VagrantFile
bower_components/
QA.pem
